{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <h1>Создать новую модель</h1>
    {{ include('path/_form.html.twig') }}
    <p class="text-right mt-3"><a href="{{ path('model_index') }}">{{ 'btn.back' | trans }}</a></p>
  </div>
{% endblock %}
